.secretContainer {
     display: flex;
     flex-direction: column;
     position: relative;
     border: #1f2430 solid 2px;
     padding: 18px;
     border-radius: 10px;
}

.titleContainer {
     text-align: center;
     display: flex;
     flex-direction: column;
}

.secretsNumber {
     font-size: 64px;
     color: #f4f8f9;
     font-weight: 500;
     margin-top: -20px;
}

.secretText {
     margin-top: -20px;
     color: #a9acb3;
}

.secretDataContainer {
     display: flex;
     flex-direction: column;
     margin-top: 16px;
     gap: 4px;
}

.secretData {
     display: flex;
     align-items: center;
     gap: 7px;
}

.titleSecret {
     color: #a9acb3;
     font-size: 18px;
     font-weight: 600;
}

.iconSecretTitle {
     width: auto;
     height: 25px;
}

.iconSecretDate {
     width: auto;
     height: 20px;
     margin-left: 1px;
}

.secretDate {
     color: #a9acb3;
     font-size: 14px;
     font-weight: 400;
     margin-left: 5px;
}

/* buttons */
.buttonsContainer {
     margin-top: 20px;
     display: flex;
     align-items: center;
}

.buttonOptionContainer {
     display: flex;
     justify-content: space-between;
     flex: 1;
}

.options {
     color: white;
     font-weight: 700;
     font-size: 18px;
     padding: 5px 15px;
     user-select: none;

     &:hover {
          cursor: pointer;
          background-color: #212634;
          border-radius: 10px;
          transition-duration: 100ms;
     }
}

@media (min-width: 768px) {
     .secretDataContainer {
          flex: 1;
     }
     .secretContainer {
          flex-direction: row;
          align-items: center;
          gap: 34px;
          height: 110px;
     }

     .buttonsContainer {
          margin-top: 0px;
     }

     .secretDataContainer {
          margin-top: 0;
     }
     .options {
          margin-left: 10px;
     }
}
