.button {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border: none;
     color: white;
     border-radius: 5px;
}

.textInButton {
     text-align: center;
     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}

.iconInButton {
     width: 20px;
}

.button:hover {
     cursor: pointer;
}
