.button {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border: none;
     color: white;
     border-radius: 5px;
}

.textInButton {
     font-size: 14px;
}

.iconInButton {
     width: 20px;
}

.button:hover {
     cursor: pointer;
}
