.inputcontainer {
     position: relative;
     border-radius: 10px;
     background: #1f2430;
}

.inputform {
     background-color: transparent;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     box-shadow: none;
     outline: none;
     border: none;
     font-size: 14px;
     font-weight: 500;
     color: #f4f8f9;
     font-family: Poppins;
     resize: none;
     padding: 10px 10px;
     box-sizing: border-box;
}

.iconinput {
     position: absolute;
     top: 15%;
     right: 0;
     transform: translate(-50%);
     width: 25px;
}

.inputerror {
     outline: 1px solid #b80712;
}

.alertmessage {
     display: block;
     color: #b80712;
     font-size: 12px;
     font-style: italic;
}

.hidealertmessage {
     display: none;
}
