body {
     margin: 0;
     padding: 0;
     font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
     margin: 0;
     padding: 0;
}

h1 {
     color: white;
     font-size: 24px;
     font-weight: 700;
}

/* Layout */
.layout {
     display: flex;
     flex-direction: column;
     background-color: #121820;
     min-height: 100vh;
     padding: 0 25px;
}

.main {
     display: flex;
     flex-direction: column;
}

/* disable show password icon in text inputs */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-password-toggle,
input[type="password"]::-webkit-search-cancel-button {
     display: none;
}
